@model project.Models.Image

@{
    ViewData["Title"] = "Radera bild";
}
<div class="section">
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 high social">
                    <ul>
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                        <li><i class="fab fa-facebook"></i></li>
                    </ul>
                </div>
                <div class="col high main">
                    <h1>Radera bild</h1>

                </div>
                <div class="col-sm-5 high">
                    <img src="~/images/man.png" alt="En man" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container marginTop">

    <h3>Är du säker på att du vill radera denna bild?</h3>
    <div class="col imageFix">
        <img src="~/images/@Model.ImageAdress" />
    </div>


    <form asp-action="Delete">
        <input type="hidden" asp-for="ImageId" />
        <input type="hidden" name="HomeIdt" value="@Model.HomeIds" />

        <input type="hidden" name="BrokId" value="@ViewBag.BrokerId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Homes" asp-route-BrokerId="@ViewBag.BrokerId" asp-route-id="@Model.HomeIds">Gå tillbaka</a>
    </form>


</div>
<script src="~/js/menu.js"></script>
