@model project.Models.Demonstration

@{
    ViewData["Title"] = "Edit";
}

<div class="section">
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 high social">
                    <ul>
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                        <li><i class="fab fa-facebook"></i></li>
                    </ul>
                </div>
                <div class="col high main">
                    <h1>Ändra visning</h1>

                </div>
                <div class="col-sm-5 high">
                    <img src="~/images/man.png" alt="En man" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container marginTop">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DemonstrationId" />
                <div class="form-group">
                    <label asp-for="BookingTime" class="control-label"></label>
                    <input asp-for="BookingTime" class="form-control" />
                    <span asp-validation-for="BookingTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BookingDate" class="control-label"></label>
                    <input asp-for="BookingDate" class="form-control" />
                    <span asp-validation-for="BookingDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HomeId" class="control-label">Objektets adress</label>
                    <input type="hidden" asp-for="HomeId" class="form-control" />
                    @{ foreach (var item in ViewBag.home)
                        {@item
                    }
                    }
                    <span asp-validation-for="HomeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Spara" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Gå tillbaka</a>
    </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="~/js/menu.js"></script>
