@model project.Models.Bidding

@{
    ViewData["Title"] = "Lägg till budgivare";
}

<div class="section">
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 high social">
                    <ul>
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                        <li><i class="fab fa-facebook"></i></li>
                    </ul>
                </div>
                <div class="col high main">
                    <h1>Skapa budgivning</h1>

                </div>
                <div class="col-sm-5 high">
                    <img src="~/images/man.png" alt="En man" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container marginTop">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <div class="form-group">
                    <label asp-for="HomeId" class="control-label">Välj objekt att starta budgivning på</label>
                    <select name="HomeId">
                        @foreach (var home in (List<Homes>)ViewBag.homes)
                        {
                       <option value="@home.HomeId">@home.Street</option>
                            }
                        </select>

                      
                        <span asp-validation-for="HomeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Skapa" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Gå tillbaka</a>
    </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="~/js/menu.js"></script>
